body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
         "header header"
         ". ."
         "left right"
         "left right";
    grid-column-gap: 50px;
    align-content: center;
    justify-content: center;
    padding-top:60px;
    padding-left: 50px;
    padding-right:50px;
    background-color: rgb(223, 205, 167);
    background-position: bottom;
    background-size: cover;
    color: rgb(36,25,17);
    text-align: center;
}

header{
    grid-area: header;
    background-color: rgb(169,75,7);
    color: rgb(223, 205, 167);
}

.left{
    grid-area: left;
}

.right{
    grid-area: right;
}